<%- include('header'); -%>

<div class="intro">
<h1>My introduction</h1>
<p>I am vishal sharma</p>
<p>I am in delhi technological university</p>
<p>I am currently learning development basically backend</p>
</div>


<%- include('footer'); -%>